* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(184, 218, 248);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    display: inline-block;
    margin: 4px;
    color: purple;
    text-decoration: none;
    border: 1px solid blue;
    padding: 8px;
}

img {
    display: block;
    width: 500px;
    margin: 12px auto;
}

/* Description */
p {
    margin: 8px;
    background-color: rgb(162, 218, 240);
    padding: 12px;
}


.title {
    background-color: rgb(142, 175, 204);
    padding: 12px;
    color: rgb(65, 14, 14);
    font-family: cursive;
}

.heading {
    background-color: rgb(78, 139, 192);
    padding: 8px;
}

ul, ol {
    list-style-type: none;
    padding: 16px;
}

li {
    margin: 4px;
}